# Dependencies
node_modules/
npm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/
out/

# Misc
.DS_Store
*.tgz
*.tar.gz

# Runtime files
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
Thumbs.db
